RewriteEngine on
ErrorDocument 404 404
Options +FollowSymLinks -MultiViews
 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME} !-f
 
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^pitico-menu index.php [L]
RewriteRule ^produto produto.php [L]
